<!doctype html>
<title>{% block title %} {% endblock %} - Local Tabs</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <a href="{{ url_for('tab.index') }}">
        <h1>Local Tabs</h1>
    </a>
    <ul>
        <li>
            <a href="{{ url_for('chords.chord') }}">Chords</a>
        </li>
        {% if g.user %}
        <li>
            <span>{{ g.user['username'] }}</span>
            <li>
                <a href="{{ url_for('auth.logout') }}">Logout</a>
                {% else %}
                <li>
                    <a href="{{ url_for('auth.register') }}">Register</a>
                    <li>
                        <a href="{{ url_for('auth.login') }}">Login</a>
                        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %} {% block content %}{% endblock %}
</section>