{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Tabs{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('tab.create') }}">New</a>
{% endif %} {% endblock %} {% block content %} {% for tab in tabs %}
<article class="post">
    <header>
        <div>
            <h1>{{ tab['title'] }}</h1>
            <div class="about">by {{ tab['username'] }} on {{ tab['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == tab['artist_id'] %}
        <a class="action" href="{{ url_for('tab.update', id=tab['id']) }}">Edit</a>
        {% endif %}
    </header>
    <p class="body">{{ tab['body'] }}</p>
</article>
{% if not loop.last %}
<hr> {% endif %} {% endfor %} {% endblock %}